<html>
<head>
    <meta charset="utf-8">
    <title>IoT-Pet-Home-System 사용자등록</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/regist.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon/favicon.ico') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/regist.js') }}" charset="utf-8"></script>
    <script type="text/javascript">
    function get_url(){
        var cur_url = window.location;
        document.getElementById("regist_user").action = cur_url;
    }
    </script>
</head>
<body onload="get_url();">
    <main>사용자 등록</main>
    <form id="regist_user" method="POST" onsubmit="return checkRegist()" action="/signup">
        <fieldset>
            <legend>기본 정보</legend>
            <ol>
                <li>
                    <label for="serial">시리얼넘버</label>
                    <input id="serial" name="serial" type="text" placeholder="기기번호" equired autofocus required>
                </li>
                <li>
                    <label for="email">이메일 주소</label>
                    <input id="email" name="pwd1" type="text"  placeholder="abcd@domain.com" required>
                </li>
            </ol>
        </fieldset>
        <fieldset>
            <legend>펫홈 정보</legend>
            <ol>
                <li>
                    <label for="petname">펫홈애칭</label>
                    <input id="petname" name="petname" type="text"  placeholder="펫홈 이름이나 동물이름을 적어주세요." required>
                </li>
                <li>
                    <label for="pet_num">애완동물수</label>
                    <input id="pet_num" name="pet_num" type="number" min="1" required>
                </li>
            </ol>
        </fieldset>
        <fieldset>
            <button onClick="submit"> 제출 </button>
        </fieldset>
    </form>
</body>
<footer>
        <br>
        &emsp;&emsp;&emsp;&emsp;&emsp;
        <a href="https://github.com/kuj0210/IoT-Pet-Home-System">IoT-Pet-Home-System github</a><br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        All Rights Reserved.
</footer>
</html>
