<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IoT-Pet-Home-System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/error404.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon/favicon.ico') }}">
</head>
<body>
 <div id="clouds">
            <div class="cloud x1"></div>
            <div class="cloud x1_5"></div>
            <div class="cloud x2"></div>
            <div class="cloud x3"></div>
            <div class="cloud x4"></div>
            <div class="cloud x5"></div>
        </div>
        <div class='c'>
            <div class='_404'>404</div>
            <hr>
            <div class='_1'>THE PAGE</div>
            <div class='_2'>WAS NOT FOUND</div>
            <a class='btn' onclick='history.go(-1)'>GO BACK</a>
        </div>
</body>
</html>